footer {
    background-color: beige;
}

footer .wrapper {
    display: flex;
    justify-content: center;
    p {
        color: #2c2c2c;
        text-align: center;
        a {
            color: #2c2c2c;
        }
        a:hover {
            color: brown;
            text-decoration: underline;
        }
        a:focus {
            color: brown;
            text-decoration: underline;
        }
    }
}