.formSection .wrapper {
    display: flex;
    justify-content: center;
}

.formContainer {
    padding: 30px;
    background-color: beige;
    margin-top: 50px;
    border-radius: 1rem;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        margin: 20px;
        padding: 10px;
        text-align: center;
    }
    button{
        // border: none;
        border-radius: 1rem;
        width: 80%;
    }
}