h1 {
    font-family: 'Roboto Condensed',
        sans-serif;
    font-size: 3rem;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}