.result .wrapper {
    display: flex;
    justify-content: center;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listOfMovies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 520px;
}

.listOfMovies li {
    margin: 10px 0;
    background-color: beige;
    padding: 20px;
    width: 100%;
    border-radius: 1rem;
    font-family: 'Cabin', sans-serif;
    display: flex;
    justify-content: space-between;
}